@model Op03Form

@{
    ViewData[index: "Title"] = "オプション演習-04 タグヘルパーを利用する";
}
<h2>@ViewData[index: "Title"]</h2>

<div class="d-flex justify-content-center">
    //Op04のResultにformを引数として送る
    //その段階でmodelのアノテーションによるバリデーションチェック
    //エラーがあればOp04のModelState[]に保存
    <form asp-controller="Op04" asp-action="Result" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            //Op03FormのNameを見る
            <label asp-for="Value1" class="form-label me-2" style="min-width:80px;"></label>
            <input asp-for="Value1" class="form-control" />
            //Op04のModelState[]を見る
            <span asp-validation-for="Value1" class="text-danger d-block"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Value2" class="form-label me-2" style="min-width:80px;"></label>
            <input asp-for="Value2" class="form-control" />
            <span asp-validation-for="Value2" class="text-danger d-block"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Opt" class="form-label me-2" style="min-width:80px;"></label>
            <select asp-for="Opt" class="form-select">
                <option value="">選択されていません</option>
                <option value="1">加算</option>
                <option value="2">減算</option>
                <option value="3">乗算</option>
                <option value="4">除算</option>
                <option value="5">剰余</option>
            </select>
            <span asp-validation-for="Opt" class="text-danger d-block"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">計算</button>
        </div>
    </form>
</div>